---
interface Props {
    destinyTitle?: string;
}
const currentPath = (Astro.url.pathname).slice(1).replaceAll("/","");
const { destinyTitle } = Astro.props;
---

<div class="container pt-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3">
            <li class="breadcrumb-item">
                <a href="/cova/" class="font-inter-bold breadcrum-link link-underline link-underline-opacity-0">
                    CoVacations
                </a>
            </li>
            <li class="breadcrumb-item active text-capitalize" aria-current="page">
                {(currentPath.replace("cova",""))}
            </li>
        </ol>
    </nav>
</div>

<style>
    .breadcrumb-item a.breadcrum-link {
        opacity: 0.7;
        color: var(--black);
    }
    .breadcrumb-item a.breadcrum-link:hover {
        opacity: 1;
    }
	.breadcrumb-chevron {
		--bs-breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%236c757d'%3E%3Cpath fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
		gap: 0.5rem;
	}
	.breadcrumb-chevron .breadcrumb-item {
		display: flex;
		gap: inherit;
		align-items: center;
		padding-left: 0;
		line-height: 1;
	}
	.breadcrumb-chevron .breadcrumb-item::before {
		gap: inherit;
		float: none;
		width: 1rem;
		height: 1rem;
	}
</style>
