<div class="contact-form position-relative overflow-hidden d-flex align-items-center justify-content-center rounded-top">
    <div class="container-960 d-flex flex-column align-items-center text-white py-5 px-4 z-1 text-center">
        <h2 class="display-6 w75">Respondemos <span class="font-inter-bold">tus consultas</span></h2>
        <p class="w75 my-4">Envianos un mensaje, contanos tus consultas sobre nuetros destinos o para unirte como propietario, completando un formulario con algunos datos útiles.</p>
        <a href="https://forms.gle/5emqtDLfAxPBnyEB7" target="_blank" rel="noopener noreferrer" class="link btn">
            Solicitar info
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="chevron">
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
              </svg>
        </a>
    </div>
</div>

<style>
    .contact-form {
        min-height: 30rem;
        background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
        background-image: url("https://images.unsplash.com/photo-1484807352052-23338990c6c6?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    }
    .contact-form::before {
        top: 0;
        right: 0;
        z-index: 0;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #000000ba;
    }
    .contact-form a.link {
        opacity: 0.8;
        width: fit-content;
        text-decoration: none;
        background-color: var(--st-green);
        color: var(--white);
    }
    .contact-form a.link:hover,
    .contact-form a.link:hover .chevron {
        opacity: 1;
    }
    .contact-form a.link .chevron {
        width: 1rem;
        opacity: .8;
        stroke: var(--white);
    }
</style>