---
interface Image {
    isFeatured: boolean;
    url: string;
    label: string;
}
interface Props {
	images: Image[];
}

const { images } = Astro.props;
---

<div class="destiny-gallery-container">
    <div id="destinyGallery" class="carousel slide carousel-fade h-100" data-bs-ride="carousel">
        <div class="carousel-indicators">
            {
                images.map((img, index) => {
                    return (
                        <button
                            type="button"
                            data-bs-target="#destinyGallery"
                            data-bs-slide-to={index}
                            class:list={["btn-link-gallery", {active: (index === 0)}]}
                            aria-current="true"
                            aria-label={img.label}
                        />
                    );
                })
            }
        </div>
        <div class="carousel-inner w-100 h-100">
            {
                images.map((img, index) => {
                    return (
                        <div class:list={["carousel-item h-100", {active: (index === 0)}]}>
                            <img src={img.url} class="d-block w-100 h-100 object-fit-cover" alt={img.label} />
                        </div>
                    );
                })
            }
        </div>
        <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#destinyGallery"
            data-bs-slide="prev"
        >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#destinyGallery"
            data-bs-slide="next"
        >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>
</div>

<style>
    .destiny-gallery-container {
        height: 70vh;
    }
    @media screen and (max-width: 991px) {
        .destiny-gallery-container {
            height: 50vh;
        }
    }
</style>