---
interface Props {
    title: string;
    rate: string;
    description: string;
    bookingLink?: string;
}

const { title, rate, description, bookingLink } = Astro.props;
---

<section class="destiny-top py-5">
    <div class="container px-4">
        <h1 class="mb-4">{title}</h1>
        <h4 class="d-flex align-items-center mb-5">
            Calificación
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="star ms-3 me-2"
                style="width: 1.5rem;"
            >
                <path
                    fill-rule="evenodd"
                    d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
                    clip-rule="evenodd"></path>
            </svg>
            {rate}
        </h4>
        <h4 class="mt-5 mb-3">Descripción</h4>
        <p class="w50">{description}</p>
        { bookingLink && 
            <a href={bookingLink} target="_blank" class="btn btn-booking mt-5">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="comments">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 0 1-.825-.242m9.345-8.334a2.126 2.126 0 0 0-.476-.095 48.64 48.64 0 0 0-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0 0 11.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" />
                </svg>                            
                Ver comentarios
            </a> }
    </div>
</section>

<style>
    .destiny-top .btn.btn-booking {
        color: var(--st-orange);
        border: 1px solid var(--st-orange);
    }
    .destiny-top .btn.btn-booking:hover {
        color: var(--white);
        background-color: var(--st-orange);
    }
    .destiny-top .btn.btn-booking svg.comments {
        width: 1.5rem;
    }
</style>