---
import HalfImg from "../../public/images/half-img.webp";
---

<section class="half-image d-flex flex-lg-row flex-column justify-content-between align-items-center">
    <div class="container-text d-flex flex-column justify-content-center align-items-center mx-auto text-center px-4" data-aos="fade-up">
        <h2 class="title py-4 mt-5">¿Querés formar parte 
            del <span class="font-poppins-med">marketplace</span>?</h2>
        <p class="text mt-3">Trabajamos constantemente para mejorar nuestras experiencias, administrar las actividades y sumar destinos.</p>
        <a href="https://covacations.com.ar/propietarios" class="link ps-3 mt-4 mb-5">Contá con nosotros 
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="chevron">
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                </svg>
        </a>
    </div>
    <div class="bg-img" style=`background-image: url(${HalfImg.src});` data-aos="fade-up" data-aos-delay="300"></div>
</section>

<style>
    .half-image .container-text a.link {
        width: fit-content;
        text-decoration: none;
        color: var(--st-orange);
    }
    .half-image .container-text a.link:hover,
    .half-image .container-text a.link:hover .chevron {
        opacity: .7;
    }
    .half-image .container-text a.link .chevron {
        width: 1rem;
        stroke: var(--st-orange);
    }
    .half-image .container-text {
        max-width: 420px;
    }
    .half-image .bg-img {
        width: 50%;
        min-height: 35rem;
        background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
    }
    @media screen and (max-width: 991px) {
        .half-image .bg-img {
            width: 100%;
            min-height: 25rem;
        }
    }

</style>