---
import GridImg1 from "../../public/images/grid/grid-1.webp"
import GridImg2 from "../../public/images/grid/grid-2.webp"
import GridImg3 from "../../public/images/grid/grid-3.webp"
---

<div class="image-grid">
    <div class="container py-5 mb-5">
        <div class="row">
            <div class="col-12 col-md-6 left-col">
                <div class="card card-text border-0 bg-grey mb-5 px-5 d-flex justify-content-center align-items-center" data-aos="fade-top">
                    <p class="fs-large text-center m-0">¿Cansado de gestionar tu hotel? <span class="font-inter-bold">Nosotros te ayudamos</span></p>
                </div>
                <div class="card border-0 overflow-hidden mb-5" data-aos="fade-top" data-aos-delay="150">
                    <img src={GridImg1.src} alt="Nosotros te ayudamos" class="img-fluid" loading="lazy">
                </div>
                <div class="card card-text border-0 bg-grey px-5 d-flex justify-content-center align-items-center" data-aos="fade-top" data-aos-delay="250">
                    <p class="fs-large text-center m-0"><span class="text-decoration-underline">Regístrate</span> <span class="font-inter-bold">sin costo</span> y destaca en el mercado.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 right-col">
                <div class="card border-0 overflow-hidden mb-5" data-aos="fade-top" data-aos-delay="100">
                    <img src={GridImg2.src} alt="Destaca en el mercado" class="img-fluid" loading="lazy">
                </div>
                <div class="card card-text border-0 bg-orange mb-5 px-5 d-flex justify-content-center align-items-center" data-aos="fade-top" data-aos-delay="200">
                    <p class="fs-large text-center m-0"><span class="text-decoration-underline">Sumá</span> tu establecimiento <span class="font-inter-bold">sin ningún compromiso financiero</span>.</p>
                </div>
                <div class="card border-0 overflow-hidden" data-aos="fade-top" data-aos-delay="300">
                    <img src={GridImg3.src} alt="Sin ningún compromiso financiero" class="img-fluid" loading="lazy">
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .image-grid .container .row .right-col {
        margin-top: 8rem;
    }
    .image-grid .container .row .card.card-text {
        min-height: 15rem;
    }
    .image-grid .container .row .card.bg-grey {
        background-color: var(--bs-gray-200);
    }
    .image-grid .container .row .card.bg-orange {
        color: var(--white);
        background-color: var(--st-orange);
    }
    .image-grid .container .row .card p.fs-large {
        font-size: 1.25rem;
    }
    @media screen and (max-width: 765px) {
        .image-grid .container .row .right-col {
            margin-top: 3rem;
        }
        .image-grid .container .row .card.card-text {
            min-height: 18rem;
        }
    }
</style>