---
import GridImage1 from '../../public/images/grid-img-1.webp'
import GridImage2 from '../../public/images/grid-img-2.webp'
import GridImage3 from '../../public/images/grid-img-3.webp'
---

<div class="image-grid">
    <div class="container py-5 mb-5">
        <div class="row gx-5">
            <div class="col">
                <div class="card card-text border-0 bg-grey mb-5 px-5">
                    <p class="fs-large text-center m-auto">¿Cansado de gestionar tu hotel? <span class="font-inter-bold">Nosotros te ayudamos</span></p>
                </div>
                <div class="card border-0 overflow-hidden mb-5">
                    <img src={GridImage1.src} alt="Nosotros te ayudamos" class="img-fluid">
                </div>
                <div class="card card-text border-0 bg-grey px-5">
                    <p class="fs-large text-center m-auto"><span class="text-decoration-underline">Regístrate</span> <span class="font-inter-bold">sin costo</span> y destaca en el mercado.</p>
                </div>
            </div>
            <div class="col right-col">
                <div class="card border-0 overflow-hidden mb-5">
                    <img src={GridImage2.src} alt="Destaca en el mercado" class="img-fluid">
                </div>
                <div class="card card-text border-0 bg-orange mb-5 px-5">
                    <p class="fs-large text-center m-auto"><span class="text-decoration-underline">Sumá</span> tu establecimiento <span class="font-inter-bold">sin ningún compromiso financiero</span>.</p>
                </div>
                <div class="card border-0 overflow-hidden">
                    <img src={GridImage3.src} alt="Sin ningún compromiso financiero" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .image-grid .container .row .col.right-col {
        margin-top: 8rem;
    }
    .image-grid .container .row .col .card.card-text {
        min-height: 25rem;
    }
    .image-grid .container .row .col .card.bg-grey {
        background-color: var(--bs-gray-200);
    }
    .image-grid .container .row .col .card.bg-orange {
        color: var(--white);
        background-color: var(--st-orange);
    }
    .image-grid .container .row .col .card p.fs-large {
        font-size: xx-large;
    }
    @media screen and (max-width: 765px) {
        .image-grid .container .row .col.right-col {
            margin-top: 3rem;
        }
        .image-grid .container .row .col .card.card-text {
            min-height: 18rem;
        }
        .image-grid .container .row .col .card p.fs-large {
            font-size: x-large;
        }
    }
</style>