<section class="main-info position-relative">
    <div class="container px-4 position-relative z-1 container-text">
        <div class="p-5 mb-4 border rounded-3 bg-white">
          <div class="container-fluid pt-4">
            <h1 class="display-5 fw-bold font-poppins pb-2">Somos <span class="color-green">CoVa<span class="d-none d-md-inline">cations</span></span></h1>
            <p class="col-md-9 fs-4 my-4 pb-3"><b>Conectamos personas con experiencias únicas</b> ya sea que busques momentos inolvidables junto al mar, tranquilidad de las montañas o aventuras desde el momento en que nos contactas.</p>
            <a class="btn btn-dark btn-lg" href="#presentation" role="button">Conocer más</a>
          </div>
        </div>
    
        <div class="row align-items-md-stretch">
          <div class="col-md-6 mb-4 mb-md-0">
            <div class="h-100 p-5 border rounded-3 bg-white">
              <h2 class="fw-bold font-poppins pb-2 pt-4">Destinos</h2>
              <p class="my-4 pb-3">Desde playas serenas hasta encantadores rincones en la montaña. Vive cada lugar con <b class="color-green">experiencias diseñadas para conectar</b> contigo y con la esencia de cada destino.</p>
              <a class="btn btn-outline-dark btn-lg" href="/cova/destinos" role="button">Descubrir destinos</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="h-100 p-5 border rounded-3 bg-white">
              <h2 class="fw-bold font-poppins pb-2 pt-4">Propietarios</h2>
              <p class="my-4 pb-3">Potencia el alcance de tu establecimiento <b class="color-green">uniéndote al marketplace</b>. Tu espacio puede ser el próximo protagonista de experiencias inolvidables.</p>
              <a class="btn btn-outline-dark btn-lg" href="/cova/propietarios" role="button">Únete gratis</a>
            </div>
          </div>
        </div>
      </div>
</section>

<style>
    .main-info {
        padding-top: 2rem;
        padding-bottom: 4rem;
        /* background: linear-gradient(180deg, #00c88c 0%, #ffffff 100%); */
        /* background: linear-gradient(180deg, #00c88c30 0%, #ffffff 100%); */
        /* background: linear-gradient(0deg, #fbfbfb 0%, transparent 100%); */
        background: #fbfbfb;
    }
    .main-info .container-text {
      margin-top: -4rem;
    }
    /* .main-info::after {
        bottom: 0;
        z-index: 0;
        content: '';
        width: 100%;
        height: 45vh;
        position: absolute;
        background: var(--lt-grey);
    } */
</style>