---
import { Image } from "astro:assets";
import CovaSvgBlack from "../images/logo-cova-black.svg";
---

<div
	class="modal fade"
	id="ProfileModal"
	tabindex="-1"
	aria-labelledby="ProfileModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header border-0 align-items-start">
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body text-center">
				<Image src={CovaSvgBlack} alt="CoVacations" class="logo" />
				<h5>Nuestras propuestas</h5>
				<p class="py-2 pb-4 opacity-75">
					Comenzá con tu experiencia seleccionando nuestros diferentes
					perfiles
				</p>
                <!-- CTA -->
				<div class="list-group d-grid gap-2 border-0">
					<a
						href="/destinos"
						class="list-group-item list-group-item-action d-flex gap-3 py-3 rounded-3 text-start"
						aria-current="true"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							height="24px"
							viewBox="0 -960 960 960"
							width="24px"
							fill="undefined"
							class="destinos-svg"
							><path
								d="M751-60q-9 0-18.5-1T714-64L209-172q-44-9-76.5-35.5T83-272q-2-4-2-18 3-12 13-19t23-5q7 2 12 6.5t8 10.5q12 25 33.5 43t50.5 24l19 4 140-94-32-140q-4-15-1-30.5t11-29.5l100-160h-94l-76 122-68-42 100-160h228q27 0 43.5 15t22.5 28l21 48q20 48 64.5 78.5T800-560v80q-70 0-128-33.5T579-602l-72 115 133 107 40 248 46 9q6 2 12.5 2.5t12.5.5q24 0 43-8t36-22q5-5 26-6 13 2 19.5 13t4.5 22q-1 5-3.5 9t-6.5 8q-25 22-56 33t-63 11Zm-155-90-30-186-114-81 18 133-121 81 247 53Zm44-610q-33 0-56.5-23.5T560-840q0-33 23.5-56.5T640-920q33 0 56.5 23.5T720-840q0 33-23.5 56.5T640-760Z"
							></path></svg
						>
						<div class="d-flex gap-2 w-100 justify-content-between">
							<div>
								<h6 class="font-inter mb-0">
									Explora nuestros <span
										class="font-poppins-med">Destinos</span>
								</h6>
								<p class="mb-0 opacity-75 desc">
									Vive la experiencia de unas vacaciones
									inolvidables
								</p>
							</div>
						</div>
					</a>

					<a
						href="/propietarios"
						class="list-group-item list-group-item-action d-flex gap-3 py-3 rounded-3 text-start"
						aria-current="true"
						style="
                    border-top-width: thin;
                "
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 24 24"
							fill="currentColor"
							class="propietarios-svg"
						>
							<path
								d="M19.006 3.705a.75.75 0 1 0-.512-1.41L6 6.838V3a.75.75 0 0 0-.75-.75h-1.5A.75.75 0 0 0 3 3v4.93l-1.006.365a.75.75 0 0 0 .512 1.41l16.5-6Z"
							></path>
							<path
								fill-rule="evenodd"
								d="M3.019 11.114 18 5.667v3.421l4.006 1.457a.75.75 0 1 1-.512 1.41l-.494-.18v8.475h.75a.75.75 0 0 1 0 1.5H2.25a.75.75 0 0 1 0-1.5H3v-9.129l.019-.007ZM18 20.25v-9.566l1.5.546v9.02H18Zm-9-6a.75.75 0 0 0-.75.75v4.5c0 .414.336.75.75.75h3a.75.75 0 0 0 .75-.75V15a.75.75 0 0 0-.75-.75H9Z"
								clip-rule="evenodd"></path>
						</svg>
						<div class="d-flex gap-2 w-100 justify-content-between">
							<div>
								<h6 class="font-inter mb-0">
									Únete como <span class="font-poppins-med"
										>Propietario</span>
								</h6>
								<p class="mb-0 opacity-75 desc">
									A nuestro marketplace de
									administración multidestino
								</p>
							</div>
						</div>
					</a>
				</div>
			</div>
            <div class="modal-footer border-0 pt-0"></div>
		</div>
	</div>
</div>

<style>
	.modal .logo {
		width: 100px;
		height: auto;
		margin: -1rem auto 1rem auto;
	}
	.modal .modal-body .list-group a.list-group-item:hover {
		border-color: var(--green);
		background-color: var(--lt-green);
	}
	.modal .modal-body .list-group a.list-group-item:hover svg.destinos-svg,
	.modal
		.modal-body
		.list-group
		a.list-group-item:hover
		svg.propietarios-svg {
		fill: var(--white);
		background-color: var(--green);
	}
	.modal .modal-body .list-group a.list-group-item svg.destinos-svg,
	.modal .modal-body .list-group a.list-group-item svg.propietarios-svg {
		width: 40px;
		height: 40px;
		padding: 3px;
		border-radius: 0.5rem;
		border: 1px solid;
		border-color: var(--green);
		fill: var(--green);
		background-color: transparent;
	}
	.modal .modal-body .list-group a.list-group-item .desc {
		font-size: small;
	}
</style>
