---
import GFormBadge from "./GFormBadge.astro";
---

<div class="newsletter position-relative overflow-hidden d-flex align-items-center justify-content-center rounded-top">
    <div class="container d-flex flex-column align-items-center text-white pt-4 pb-3 px-4 z-1 text-center">
        <GFormBadge/>
        <div class="ratio ratio-4x3">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeIY9c1j2ZJ78SZZ3TodSd6qGwEAh5iihy3Tog6U-XOcN2EQQ/viewform?embedded=true">Cargando…</iframe>
        </div>
    </div>
</div>

<style>
    .newsletter {
        min-height: 30rem;
        background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
        background-image: url("https://images.unsplash.com/photo-1446488614340-2d1a68d662f9?q=80&w=2938&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    }
    .newsletter::before {
        top: 0;
        right: 0;
        z-index: 0;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #000000ba;
    }
    @media screen and (min-width: 1400px) {
        iframe {
            max-height: 80vh;
        }
        .ratio::before {
            padding-top: 65%!important;
        }
    }
</style>