<div class="newsletter position-relative overflow-hidden d-flex align-items-center justify-content-center rounded-top">
    <div class="container-960 d-flex flex-column align-items-center text-white py-5 px-4 z-1 text-center">
        <h2 class="display-6 w75">Enterate de las <span class="font-inter-bold">novedades y noticias</span></h2>
        <p class="w75 my-4">Para conocer nuevos destinos, ofertas exclusivas y mucho más, completá algunos datos útiles y suscribite a nuestro newsletter.</p>
        <a href="https://forms.gle/5emqtDLfAxPBnyEB7" target="_blank" rel="noopener noreferrer" class="link btn">
            Solicitar info
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="chevron">
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
              </svg>
        </a>
    </div>
</div>

<style>
    .newsletter {
        min-height: 30rem;
        background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
        background-image: url("https://images.unsplash.com/photo-1446488614340-2d1a68d662f9?q=80&w=2938&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    }
    .newsletter::before {
        top: 0;
        right: 0;
        z-index: 0;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #000000ba;
    }
    .newsletter a.link {
        /* opacity: 0.8; */
        width: fit-content;
        text-decoration: none;
        background-color: var(--st-orange);
        color: var(--white);
    }
    .newsletter a.link:hover,
    .newsletter a.link:hover .chevron {
        opacity: .9;
    }
    .newsletter a.link .chevron {
        width: 1rem;
        /* opacity: .8; */
        stroke: var(--white);
    }
</style>