---
import PassportImg from "../../public/images/passport.webp";
import UnderlineWord from "./UnderlineWord.astro";
---
<div class="passport rounded-top position-relative">
    <div class="container px-4 py-5 d-flex justify-content-between align-items-center position-relative">
        <img
            src={PassportImg.src}
            alt="Pasaporte CoVacations"
            class="passport-image d-none d-lg-block ms-auto position-absolute"
        />
        <div class="text-content text-white mx-auto mx-lg-0 ms-lg-auto w50">
            <h2 class="display-6 w75"><UnderlineWord word="Pasaporte" isLg={true} isWhite={true}/> CoVacations</h2>
            <p class="my-4">Accedé a promociones y beneficios especiales, en esta sección podrás encontrar diferentes propuestas para visitar nuestros destinos y complejos.</p>
        </div>
    </div>
</div>

<style>
    .passport {
        z-index: 0;
        margin-top: -.25rem;
        background-color: var(--orange);
    }
    .passport .passport-image {
        top: -4rem;
        /* left: 10%; */
        left: 0;
    }
    .passport .text-content {
        padding: 2rem 0;
    }
    @media screen and (min-width: 769px) and (max-width: 991px) {
        .passport .text-content {
            margin-left: 3rem;
        }
	}
    @media screen and (min-width: 992px) {
        .passport .text-content {
            /* padding: 4rem 0; */
            /* padding: 4rem 0 4rem 4rem; */
            padding: 4rem 0 4rem 8%;
        }
    }
</style>