---
import UnderlineWord from "./UnderlineWord.astro";
import CuotaSimpleSvg from "../../public/images/svg/cuotasimple.svg";
import PaidBitcoin from "../../public/images/paid/paid-btc-sw.webp";
import PaidCabal from "../../public/images/paid/paid-cabal-sw.webp";
import PaidCash from "../../public/images/paid/paid-cash-sw.webp";
import PaidDepos from "../../public/images/paid/paid-depos-sw.webp";
import PaidMaster from "../../public/images/paid/paid-master-sw.webp";
import PaidMp from "../../public/images/paid/paid-mp-sw.webp";
import PaidTransfer from "../../public/images/paid/paid-transfer-sw.webp";
import PaidVisa from "../../public/images/paid/paid-visa-sw.webp";
import PaidVisaE from "../../public/images/paid/paid-visa2-sw.webp";
const sliderPaid = [PaidBitcoin, PaidCabal, PaidCash, PaidDepos, PaidMaster, PaidMp, PaidTransfer, PaidVisa, PaidVisaE];
import { linkMsg } from '../utils/wp';
---

<section class="passport-category position-relative z-1">
    <div class="container px-4 py-5">
        <div data-aos="fade-up">
            <h2 class="pb-4 font-poppins position-relative title-underline">
                <UnderlineWord word="Visitá" />
                los destinos y complejos
            </h2>
            <p class="w50 my-4">
                Te presentamos <span class="font-inter-bold">Pasaporte CoVa</span>, una forma diferente de adquirir tus próximas vacaciones y experiencias de manera anticipada, al mejor costo del mercado, para asegurarte de el lugar y también el beneficio económico.
            </p>
        </div>
        <div class="row mt-3 mb-4 g-3">
            <div class="col-12 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="card card-promo me-lg-3 bg-dark text-light promo-premium position-relative overflow-hidden">
                    <div class="card-body z-1">
                        <h3 class="card-title mt-5">Pack Premium</h3>
                        <span class="badge mb-3">*Usálo cuando quieras</span>
                        <p class="card-text mt-5 mb-0">14 Noches (temporada alta)</p>
                        <p class="card-text">$3.000.000</p>
                        <a href=`${linkMsg("Quiero consultar sobre el Pack Premium...")}` target="_blank" rel="noopener noreferrer" class="btn link-premium mb-3 w-100">Consultar</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="card card-promo me-lg-3 position-relative overflow-hidden">
                    <div class="card-body z-1">
                        <h3 class="card-title mt-5">Pack Classic</h3>
                        <span class="badge mb-3">**Ver períodos de uso</span>
                        <p class="card-text mt-5 mb-0">10 Noches por $590.000</p>
                        <p class="card-text">20 noches por $980.000</p>
                        <a href=`${linkMsg("Quiero consultar sobre el Pack Classic...")}` target="_blank" rel="noopener noreferrer" class="btn link mb-3 w-100">Consultar</a>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-5" data-aos="fade-up" data-aos-delay="500">
                <div class="card-body">
                    <h5 class="mt-5 mb-4 font-poppins opacity-75">
                        Condiciones y formas de uso
                    </h5>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <p class="card-text"><span class="fw-bold">*Período de uso:</span><br/> 365 días desde la fecha de compra. Fecha límite de compra: 30.06.2024.</p>
                            <p class="card-text"><span class="fw-bold">Formas de pago:</span><br/> Se toman pagos en USD (tipo de cambio promedio dólar blue) / transferencia bancaria / Tarjeta de crédito en 1 pago con 5% de recargo / Tarjeta de crédito en 3 y 6 cuotas (tasas de recargo vigentes al momento de compra).</p>
                            <p class="card-text"><span class="fw-bold">¿Cuántas personas?:</span><br/> 2 ambientes hasta 4 pasajeros (consulte por unidades con disponibilidad de más de 4 pasajeros).</p>
                        </div>
                        <div class="col-12 col-md-6">
                            <p class="card-text"><span class="fw-bold">***Restricciones:</span><br/> No es válido para usar desde el 15/12/2024 al 28/02/2025, fin de semana largos; semana santa; vacaciones de invierno y desde el 01/07/2024 al 30/09/2024 (Cerro Catedral, Bariloche)</p>
                            <p class="card-text"><span class="fw-bold">¿Cómo se usa?:</span><br/> Podrá usar como máximo 7 noches de forma consecutiva en cada complejo. El mínimo de noches estará sujeto a la cantidad de noches mínima solicitado por cada complejo.</p>
                            <p class="card-text"><span class="fw-bold">Para reservar:</span><br/> Puede pedir su estadía en cada complejo desde los 30 días previos al check in.</p>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                <div class="card-body">
                    <div class="row flex-md-row-reverse">
                        <div class="col-12 col-md-6 mb-4 mb-md-0">
                            <img src={CuotaSimpleSvg.src} alt="Pasaporte CoVacation - Cuota Simple" class="img-fluid cuota-simple-svg me-4 me-md-0"/>
                            <p class="mt-3 opacity-75">El programa que te permite financiar compras en <span class="fw-bold">3 y 6</span> cuotas fijas mensuales.</p>
                        </div>
                        <div class="col-12 col-md-6">
                            <h5 class="font-poppins mb-3 opacity-75">Medios de pago aceptados</h5>
                            <div class="d-flex flex-wrap">
                                { sliderPaid.map((p, i) => <img src={p.src} class="img-fluid paid m-2" alt="CoVacations - Medio de Pago"/>) }
                            </div> 
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .passport-category .card-promo {
        border-color: var(--lt-orange);
        filter: drop-shadow(0 0 15px var(--lt-grey));
    }
    .passport-category .card-promo.promo-premium {
        border-color: var(--st-orange);
        filter: drop-shadow(0 0 15px var(--lt-orange));
    }
    .passport-category .card-promo:hover,
    .passport-category .card-promo.promo-premium:hover {
        cursor: pointer;
        filter: drop-shadow(0 0 15px rgb(255 146 67 / 62%));
    }
    .passport-category .card-promo::before {
        top: 0;
        left: 0;
        content: '';
        z-index: 0;
        opacity: .5;
        width: 100%;
        height: 50%;
        position: absolute;
        background-color: #efefef;
    }
    .passport-category .card-promo.promo-premium::before {
        background-color: rgb(251 251 251 / 8%);
    }
    .passport-category .card-promo .badge {
        font-weight: normal;
        color: var(--orange);
        background-color: transparent;
        border: 1px solid var(--orange);
    }
    .passport-category .card-promo a.link {
        color: var(--orange);
        text-decoration: none;
        border: 1px solid var(--orange);
    }
    .passport-category .card-promo.promo-premium a.link-premium {
        color: var(--white);
        text-decoration: none;
        background-color: var(--st-orange);
    }
    .passport-category img.cuota-simple-svg {
        height: 50px;
        width: fit-content;
    }
    .passport-category img.paid { 
        width: 38px;
        height: 25px;
        transition: all 0.2s ease-in-out;
    }
    .passport-category img.paid:hover { 
        transform: scale(1.25);
    }
</style>