---
import PassportImg from "../../public/images/passport.webp";
import UnderlineWord from "./UnderlineWord.astro";
---
<div class="passport position-relative z-1">
    <div class="container px-4 py-5">
        <div class="row">
            <div class="col-lg-6 d-none d-lg-block position-relative" data-aos="fade-bottom" data-aos-delay="300">
                <img
                    src={PassportImg.src}
                    alt="Pasaporte CoVacations"
                    class="passport-image d-none d-lg-block mx-auto position-absolute"
                    data-aos="zoom-in"
                />
            </div>
            <div class="col-12 col-lg-6" data-aos="fade-bottom" data-aos-delay="300">
                <div class="text-content text-white">
                    <h2 class="display-6 w75"><UnderlineWord word="Pasaporte" isLg={true} isWhite={true}/> CoVacations</h2>
                    <p class="my-4">Disfrutá mas pagando menos. Contrata tu descanso de manera anticipada, al mejor precio del mercado.</p>
                    <a href="/cova/pasaporte" class="link">Conocé las promos 
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="chevron">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                          </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .passport {
        z-index: 0;
        margin-top: -.25rem;
        background-color: var(--orange);
    }
    .passport .passport-image {
        top: -4rem;
        left: 10%;
        /* left: 0; */
    }
    .passport .text-content {
        padding: 2rem 0;
    }
    .passport .text-content a.link {
        width: fit-content;
        text-decoration: none;
        color: var(--white);
    }
    .passport .text-content a.link:hover,
    .passport .text-content a.link:hover .chevron {
        opacity: .7;
    }
    .passport .text-content a.link .chevron {
        width: 1rem;
        stroke: var(--white);
    }
    @media screen and (min-width: 769px) and (max-width: 991px) {
        .passport .text-content {
            margin-left: 3rem;
        }
	}
    @media screen and (min-width: 992px) {
        .passport .text-content {
            padding: 4rem 0;
            /* padding: 4rem 0 4rem 4rem; */
            /* padding: 4rem 0 4rem 8%; */
        }
    }
</style>