---
import CardPromo from "./CardPromo.astro";
---

<section class="promos">
    <div class="container-960 px-4 py-5">
        <div class="row g-4">
            <div class="col-12 col-md-6">
                <CardPromo 
                    title="Promo Noviembre" 
                    text="Promo Noviembre LUN a JUE reservando directo con el hotel." 
                    link="/promo-1"
                />
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center w-100 mt-4 mb-2 pt-3">
            <button class="btn text-white">Cargar más promos +</button>
        </div>
    </div>
</section>

<style>
    .promos button.btn {
		filter: brightness(0.95);
		background-color: var(--orange);
	}
	.promos button.btn:hover {
		background-color: var(--st-orange);
	}
</style>