---
import CardPromo from "./CardPromo.astro";
import dataPromos from '../data/promos.json'
---

<section class="promos">
    <div class="container-960 px-4 py-5">
        <div class="row g-4" id="promos-content">
            { dataPromos.map((promo, index) => {
                return (
                    <div class:list={["col-12 col-md-6 card-col", {"d-none": index > 1}]}>
                        <CardPromo 
                            title={promo.title} 
                            text={promo.text}
                            link={promo.link}
                        />
                    </div>
                )
            }) }
        </div>
        <div class="d-flex justify-content-center align-items-center w-100 mt-4 mb-2 pt-3">
            <button class="btn text-white" id="moreBtn">Cargar más promos +</button>
        </div>
    </div>
</section>

<style>
    .promos button.btn {
		filter: brightness(0.95);
		background-color: var(--orange);
	}
	.promos button.btn:hover {
		background-color: var(--st-orange);
	}
</style>

<script is:inline>
    document.addEventListener('astro:page-load', () => {

    const btn = document.getElementById("moreBtn");
    
    btn?.addEventListener("click", () => {
        const hiddenCards = document.querySelectorAll(".card-col.d-none");
        let add2more = Array.from(hiddenCards).slice(0,2)
        add2more.forEach(el => el.classList.remove("d-none"))
        if (hiddenCards.length === 2) {
            btn.setAttribute("disabled", true)
        }
    })

  });
</script>