---
import Layout from '../../layouts/Layout.astro';
import Wip from '../../components/Wip.astro';

const dev = true;

import { getCollection } from "astro:content"

export async function getStaticPaths() {
	const destinos = await getCollection('destinos');
	return destinos.map(destino => ({
		params: { id: destino.data.slug},
		props: { destino }
	}))
}

const { destino } = Astro.props;
const { slug, title, images, rate, description, location, locationMin, region, chords, contactLinks } = destino.data;

---

<Layout title={`CoVacations - ${title}`} headerBlackBg={true}>
	{ !dev ?
		<main>
			
		</main>
		: <Wip/> }
</Layout>
