---
interface Props {
    blackBg?: boolean
}
const { blackBg } = Astro.props;
const currentPath = (Astro.url.pathname).slice(1).trim();
import CovaSvgWhite from "../../../public/images/logo-cova-white.svg";
---

<header class:list={["w-100 position-absolute top-0 z-3", {'black-bg': blackBg}]}>
    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand" href="/cova/">
                <img src={CovaSvgWhite.src} alt="CoVacations" class="logo" />
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar"
                aria-label="Toggle navigation"
            >
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="menu">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                  </svg>
            </button>
            <!-- Offcanvas Lateral Menu -->
            <div
                class="offcanvas offcanvas-end rounded-start"
                tabindex="-1"
                id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel"
            >
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title text-secondary" id="offcanvasNavbarLabel">
                        Menu
                    </h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body p-0">
                    <p class="text-secondary p-3">Explorá las secciones para comenzar con tu experiencia</p>
                    <ul class="navbar-nav justify-content-end flex-grow-1">
                        <li class:list={["nav-item position-relative border-top border-bottom", {active: (currentPath === "cova/")}]}>
                            <a class="px-4 nav-link" aria-current="page" href="/cova/">
                                <h5 class:list={["my-2",{"text-decoration-underline": (currentPath === "cova/")}]}>Inicio</h5>
                                <p class="px-3 mb-2 text-secondary">¿Quiénes somos y qué ofrecemos?</p>
                            </a>
                        </li>
                        <li class:list={["nav-item position-relative border-bottom", {active: (currentPath === "cova/destinos/")}]}>
                            <a class="px-4 nav-link" aria-current="page" href="/cova/destinos/">
                                <h5 class:list={["my-2",{"text-decoration-underline": (currentPath === "destinos/")}]}>Destinos</h5>
                                <p class="px-3 mb-2 text-secondary">Lugares y experiencias inolvidables</p>
                            </a>
                        </li>
                        <li class:list={["nav-item position-relative border-bottom", {active: (currentPath === "cova/propietarios/")}]}>
                            <a class="px-4 nav-link" aria-current="page" href="/cova/propietarios/">
                                <h5 class:list={["my-2",{"text-decoration-underline": (currentPath === "propietarios/")}]}>Propietarios</h5>
                                <p class="px-3 mb-2 text-secondary">Sumá tu alojamiento</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="offcanvas-footer">
                    <p class="px-4 text-secondary">© 2024 CoVacations Group.</p>
                </div>
            </div>
        </div>
    </nav>
</header>

<style>
    header {
        background-color: transparent;
    }
    header.black-bg {
        background-color: var(--black);
    }
    header .navbar {
        min-height: 7rem;
    }
	header .navbar .logo {
		width: 70px;
		height: auto;
	}
    header .navbar .menu {
		width: 35px;
		height: auto;
	}
    header .navbar .navbar-toggler {
        border: none;
        color: var(--white);
    }
    header .navbar .navbar-toggler:focus,
    header .navbar .offcanvas .offcanvas-header button.btn-close:focus {
        box-shadow: none;
    }
    header .navbar .offcanvas .offcanvas-body ul.navbar-nav .nav-item.active {
        background-color: var(--lt-green);
    }
    header .navbar .offcanvas .offcanvas-body ul.navbar-nav .nav-item.active::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: .4rem;
        height: 100%;
        background-color: var(--green);
    }
    header .navbar .offcanvas .offcanvas-body ul.navbar-nav a:hover {
        background-color: var(--lt-green);
    }
    .offcanvas-footer p {
        font-size: smaller;
    }
</style>
