---
interface Props {
    blackBg?: boolean;
    headerFixedTop?: boolean;
}
const { blackBg, headerFixedTop } = Astro.props;
const currentPath = (Astro.url.pathname).slice(1).trim();
import CovaSvgWhite from "../../../public/images/svg/logo-cova-white.svg";
import { getActualYear } from "../../utils/date";
import { company } from '../../data/contact.json'
---

<header class:list={["w-100 top-0 z-3", {'linear-black-bg': blackBg}, {'position-fixed': headerFixedTop}, {'position-absolute': !headerFixedTop}]} id="headerTop">
    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand" href="https://covacations.com.ar/">
                <img src={CovaSvgWhite.src} alt="CoVacations" class="logo" />
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar"
                aria-label="Toggle navigation"
            >
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="menu">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                  </svg>
            </button>
            <!-- Offcanvas Lateral Menu -->
            <div
                class="offcanvas offcanvas-end rounded-start"
                tabindex="-1"
                id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel"
            >
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title text-secondary" id="offcanvasNavbarLabel">
                        Menu
                    </h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body p-0">
                    <p class="text-secondary p-3">Explorá las secciones para comenzar con tu experiencia</p>
                    <ul class="navbar-nav justify-content-end flex-grow-1">
                        <li class:list={["nav-item position-relative border-top border-bottom", {active: (currentPath !== "cova/destinos/" && currentPath !== "cova/propietarios/" && currentPath !== "cova/pasaporte/")}]}>
                            <a class="px-4 nav-link" aria-current="page" href="https://covacations.com.ar/">
                                <h5 class:list={["my-2",{"text-decoration-underline": (currentPath !== "cova/destinos/" && currentPath !== "cova/propietarios/" && currentPath !== "cova/pasaporte/")}]}>Inicio</h5>
                                <p class="px-3 mb-2 text-secondary">¿Quiénes somos y qué ofrecemos?</p>
                            </a>
                        </li>
                        <li class:list={["nav-item position-relative border-bottom", {active: (currentPath === "cova/destinos/")}]}>
                            <a class="px-4 nav-link" aria-current="page" href="https://covacations.com.ar/destinos/">
                                <h5 class:list={["my-2",{"text-decoration-underline": (currentPath === "destinos/")}]}>Destinos</h5>
                                <p class="px-3 mb-2 text-secondary">Lugares y experiencias inolvidables</p>
                            </a>
                        </li>
                        <li class:list={["nav-item position-relative border-bottom", {active: (currentPath === "cova/propietarios/")}]}>
                            <a class="px-4 nav-link" aria-current="page" href="https://covacations.com.ar/propietarios/">
                                <h5 class:list={["my-2",{"text-decoration-underline": (currentPath === "propietarios/")}]}>Propietarios</h5>
                                <p class="px-3 mb-2 text-secondary">Sumá tu alojamiento</p>
                            </a>
                        </li>
                        <li class:list={["nav-item position-relative border-bottom passport-item", {active: (currentPath === "cova/pasaporte/")}]}>
                            <a class="px-4 nav-link passport-item" aria-current="page" href="https://covacations.com.ar/pasaporte/">
                                <h5 class:list={["my-2",{"text-decoration-underline": (currentPath === "pasaporte/")}]}>Pasaporte CoVa</h5>
                                <p class="px-3 mb-2 text-secondary">Promociones y beneficios</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="offcanvas-footer">
                    <p class="px-4 text-secondary">© {getActualYear()} {company}.</p>
                </div>
            </div>
        </div>
    </nav>
</header>

<style>
    header {
        background-color: transparent;
        transition: all 0.2s ease-in-out;
    }
    header.black-bg {
        background-color: var(--black);
    }
    header.linear-black-bg {
        /*background: linear-gradient(180deg, black 10%, transparent) */
        /* background: linear-gradient(0deg, #00000000, #000 90%); */
        background: linear-gradient(0deg, #00000000, #0000009c 90%);
    }
    header .navbar {
        min-height: 3rem;
    }
	header .navbar .logo {
		width: 70px;
		height: auto;
	}
    header .navbar .menu {
		width: 35px;
		height: auto;
	}
    header .navbar .navbar-toggler {
        border: none;
        color: var(--white);
    }
    header .navbar .navbar-toggler:focus,
    header .navbar .offcanvas .offcanvas-header button.btn-close:focus {
        box-shadow: none;
    }
    header .navbar .offcanvas .offcanvas-body ul.navbar-nav .nav-item.active {
        background-color: var(--lt-green);
    }
    header .navbar .offcanvas .offcanvas-body ul.navbar-nav .nav-item.active::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: .4rem;
        height: 100%;
        background-color: var(--green);
    }
    header .navbar .offcanvas .offcanvas-body ul.navbar-nav a:hover {
        background-color: var(--lt-green);
    }
    header .navbar .offcanvas .offcanvas-body ul.navbar-nav .nav-item.passport-item.active,
    header .navbar .offcanvas .offcanvas-body ul.navbar-nav a.passport-item:hover {
        background-color: var(--lt-orange);
    }
    header .navbar .offcanvas .offcanvas-body ul.navbar-nav .nav-item.passport-item.active::before {
        background-color: var(--orange);
    }
    .offcanvas-footer p {
        font-size: smaller;
    }
</style>

<script is:inline>
    document.addEventListener('astro:page-load', () => {
        const headerFixedTop = document.getElementById("headerTop");
        const scrollTop = 15;
        window.addEventListener('scroll', () => {
            if(headerFixedTop) {
                (document.body.scrollTop > scrollTop || document.documentElement.scrollTop > scrollTop)
                    ? headerFixedTop.classList.add("black-bg")
                    : headerFixedTop.classList.remove("black-bg");
            }
        })
    })
</script>