---
interface Props {
	fullHeight?: boolean;
    hasSlider?: boolean;
    hasModal?: boolean;
    hasCaption?: boolean;
    hasScroller?: boolean;
    bgImg?: string;
    hasBgOpacity?: boolean;
    hasBgGradient?: boolean;
}
const { fullHeight, hasSlider, hasModal, hasCaption, hasScroller, bgImg, hasBgOpacity, hasBgGradient } = Astro.props;
import Modal from "../Modal.astro"
import ModalBtn from "../ModalBtn.astro"
import Scroller from "../Scroller.astro"
import Caption from "../Caption.astro"
import HeroHomeImg1 from "../../../public/images/hero-home-1.webp"
import HeroHomeImg2 from "../../../public/images/hero-home-2.webp"
import HeroHomeImg3 from "../../../public/images/hero-home-3.webp"
import HeroHomeImg4 from "../../../public/images/hero-home-4.webp"
---

<section
	class:list={["hero w-100 d-flex position-relative", { "full-height": fullHeight }]}
>
    <!-- Bg overlay options -->
	<div class:list={["w-100 h-100 position-absolute top-0 z-1", { "bg-opacity": hasBgOpacity }, { "bg-color-gradient": hasBgGradient }]}></div>
	<!-- Slider -->
	<div
		class="hero-slider carousel slide carousel-fade w-100 h-100 position-absolute top-0 z-0"
		data-bs-ride="carousel"
	>
		<div class="carousel-inner w-100 h-100">
			<div class="carousel-item w-100 h-100 active">
				<img
					src={bgImg ? bgImg : HeroHomeImg1.src}
					class="d-block w-100 h-100 object-fit-cover rounded-bottom"
					alt="CoVacations Group"
				/>
			</div>
            { hasSlider &&
                <div class="carousel-item w-100 h-100">
                    <img
                        src={HeroHomeImg2.src}
                        class="d-block w-100 h-100 object-fit-cover rounded-bottom"
                        alt="CoVacations Group"
                    />
                </div>
                <div class="carousel-item w-100 h-100">
                    <img
                        src={HeroHomeImg3.src}
                        class="d-block w-100 h-100 object-fit-cover rounded-bottom"
                        alt="CoVacations Group"
                    />
                </div>
                <div class="carousel-item w-100 h-100">
                    <img
                        src={HeroHomeImg4.src}
                        class="d-block w-100 h-100 object-fit-cover rounded-bottom"
                        alt="CoVacations Group"
                    />
                </div> }
		</div>
	</div>
	<!-- Content -->
	<div class="container d-flex align-items-center z-1 position-relative">
        <!-- Text -->
		<div class="hero-content flex-fill text-white px-2">
            <!-- Text content -->
            <slot/>
			<!-- Modal trigger -->
            { hasModal && <ModalBtn/> }
            <!-- Caption -->
            { hasCaption && <Caption/> }
		</div>
        <!-- Scroller -->
        { hasScroller && <Scroller/> }
	</div>
    <!-- Modal -->
    { hasModal && <Modal/> }
</section>

<style>
	.hero {
		height: 75vh;
	}
	.hero.full-height {
		height: 100vh;
	}
	.hero .bg-opacity {
		background-color: #00000066;
	}
    .hero .bg-color-gradient {
        /* backdrop-filter: blur(2px); */
        /* background: linear-gradient(320deg, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 40%) 100%); */
        background: linear-gradient(0deg, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 40%) 100%);
    }
    .hero .hero-content .hero-text {
        max-width: 30rem;
    }
</style>
