---
interface Props {
	fullHeight?: boolean;
    hasSlider?: boolean;
    hasModal?: boolean;
    hasCaption?: boolean;
    hasScroller?: boolean;
    bgImg?: string;
}
const { fullHeight, hasSlider, hasModal, hasCaption, hasScroller, bgImg } = Astro.props;
import Modal from "../Modal.astro"
import ModalBtn from "../ModalBtn.astro"
import Scroller from "../Scroller.astro"
import Caption from "../Caption.astro"
---

<section
	class:list={["hero w-100 d-flex position-relative mb-4", { full: fullHeight }]}
>
    <!-- Bg opacity -->
	<div class="bg-opacity w-100 h-100 position-absolute top-0 z-1"></div>
	<!-- Slider -->
	<div
		class="hero-slider carousel slide carousel-fade w-100 h-100 position-absolute top-0 z-0"
		data-bs-ride="carousel"
	>
		<div class="carousel-inner w-100 h-100">
			<div class="carousel-item w-100 h-100 active">
				<img
					src={bgImg ? bgImg : "https://cdn.pixabay.com/photo/2021/06/07/14/21/mountains-6318080_1280.jpg"}
					class="d-block w-100 h-100 object-fit-cover"
					alt="image"
				/>
			</div>
            { hasSlider &&
                <div class="carousel-item w-100 h-100">
                    <img
                        src="https://cdn.pixabay.com/photo/2024/02/09/13/03/beach-8563083_1280.jpg"
                        class="d-block w-100 h-100 object-fit-cover"
                        alt="image"
                    />
                </div>
                <div class="carousel-item w-100 h-100">
                    <img
                        src="https://images.unsplash.com/photo-1629878165379-3a5bafe1df63?q=80&w=436&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        class="d-block w-100 h-100 object-fit-cover"
                        alt="image"
                    />
                </div> }
		</div>
	</div>
	<!-- Content -->
	<div class="container d-flex align-items-center z-1 position-relative">
        <!-- Text -->
		<div class="hero-content flex-fill text-white px-2">
            <!-- Text content -->
            <slot/>
			<!-- Modal trigger -->
            { hasModal && <ModalBtn/> }
            <!-- Caption -->
            { hasCaption && <Caption/> }
		</div>
        <!-- Scroller -->
        { hasScroller && <Scroller/> }
	</div>
    <!-- Modal -->
    { hasModal && <Modal/> }
</section>

<style>
	.hero {
		height: 75vh;
	}
	.hero.full {
		height: 100vh;
	}
	.hero .bg-opacity {
		background-color: #00000066;
	}
    .hero .hero-content .hero-text {
        max-width: 30rem;
    }
</style>
