---
interface Props {
	fullHeight?: boolean;
    hasSlider?: boolean;
    hasModal?: boolean;
    hasCaption?: boolean;
    hasScroller?: boolean;
    bgImg?: string;
    hasBgOpacity?: boolean;
    hasBgGradient?: boolean;
}
const { fullHeight, hasSlider, hasModal, hasCaption, hasScroller, bgImg, hasBgOpacity, hasBgGradient } = Astro.props;
import Modal from "../Modal.astro"
import ModalBtn from "../ModalBtn.astro"
import Scroller from "../Scroller.astro"
import Caption from "../Caption.astro"
---

<section
	class:list={["hero w-100 d-flex position-relative", { "full-height": fullHeight }]}
>
    <!-- Bg overlay options -->
	<div class:list={["w-100 h-100 position-absolute top-0 z-1", { "bg-opacity": hasBgOpacity }, { "bg-color-gradient": hasBgGradient }]}></div>
	<!-- Slider -->
	<div
		class="hero-slider carousel slide carousel-fade w-100 h-100 position-absolute top-0 z-0"
		data-bs-ride="carousel"
	>
		<div class="carousel-inner w-100 h-100">
			<div class="carousel-item w-100 h-100 active">
				<img
					src={bgImg ? bgImg : "https://images.pxsol.com/1711/P3435/photos/8b7ba5e529e62e7f14ce71f2ac5bd4e41b9d7685.jpg?auto=format&browser=Chrome&ixlib=php-3.3.1&w=1000&s=06c0dbc2bfee073523424f80c371d48a"}
					class="d-block w-100 h-100 object-fit-cover"
					alt="image"
				/>
			</div>
            { hasSlider &&
                <div class="carousel-item w-100 h-100">
                    <img
                        src="https://images.pxsol.com/1656/company/library/user/25382926740b434b99526c22a9675999a879366aea7.jpg?auto=format&browser=Chrome&ixlib=php-3.3.1&w=1000&s=5b232d696843d01992889d89c7b6c9cf"
                        class="d-block w-100 h-100 object-fit-cover"
                        alt="image"
                    />
                </div>
                <div class="carousel-item w-100 h-100">
                    <img
                        src="https://images.pxsol.com/1711/P3435/photos/bfd1283531d4f9f96893a29080a22b6c791c7913.jpg?auto=format&browser=Chrome&ixlib=php-3.3.1&w=1000&s=4e1188da34a4d8c49609d3cb86bb68e1"
                        class="d-block w-100 h-100 object-fit-cover"
                        alt="image"
                    />
                </div> }
		</div>
	</div>
	<!-- Content -->
	<div class="container d-flex align-items-center z-1 position-relative">
        <!-- Text -->
		<div class="hero-content flex-fill text-white px-2">
            <!-- Text content -->
            <slot/>
			<!-- Modal trigger -->
            { hasModal && <ModalBtn/> }
            <!-- Caption -->
            { hasCaption && <Caption/> }
		</div>
        <!-- Scroller -->
        { hasScroller && <Scroller/> }
	</div>
    <!-- Modal -->
    { hasModal && <Modal/> }
</section>

<style>
	.hero {
		height: 75vh;
	}
	.hero.full-height {
		height: 100vh;
	}
	.hero .bg-opacity {
		background-color: #00000066;
	}
    .hero .bg-color-gradient {
        backdrop-filter: blur(2px);
        background: linear-gradient(320deg, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 40%) 100%);
    }
    .hero .hero-content .hero-text {
        max-width: 30rem;
    }
</style>
