---
interface Props {
	fullHeight?: boolean;
    hasSlider?: boolean;
    hasModal?: boolean;
    hasCaption?: boolean;
    hasScroller?: boolean;
    bgImg?: string;
    hasBgOpacity?: boolean;
    hasBgGradient?: boolean;
}
const { fullHeight, hasSlider, hasModal, hasCaption, hasScroller, bgImg, hasBgOpacity, hasBgGradient } = Astro.props;
import Modal from "../Modal.astro"
import ModalBtn from "../ModalBtn.astro"
import Scroller from "../Scroller.astro"
import Caption from "../Caption.astro"
import HeroHomeImg1 from "../../../public/images/hero/hero-home-1.webp"
import HeroHomeImg2 from "../../../public/images/hero/hero-home-2.webp"
import HeroHomeImg3 from "../../../public/images/hero/hero-home-3.webp"
import HeroHomeImg4 from "../../../public/images/hero/hero-home-4.webp"
import HeroHomeImg5 from "../../../public/images/hero/hero-home-5.webp"
const sliderArr = [HeroHomeImg1, HeroHomeImg2, HeroHomeImg3, HeroHomeImg4, HeroHomeImg5];
---

<section
	class:list={["hero w-100 d-flex position-relative", { "full-height": fullHeight }]}
>
    <!-- Bg overlay options -->
	<div class:list={["w-100 h-100 position-absolute top-0 z-2", { "bg-opacity": hasBgOpacity }, { "bg-color-gradient": hasBgGradient }]}></div>
	<!-- Slider -->
	<div
		class="hero-slider carousel slide carousel-fade w-100 h-100 position-absolute top-0 z-0"
		data-bs-ride="carousel" data-bs-pause="false" id="myCarousel"
	>
		<div class="carousel-inner w-100 h-100 carousel-inner-fallback">
            { 
                hasSlider 
                    ?  sliderArr.map((slImg, i) => {
                            return (
                                <div class:list={["carousel-item position-relative w-100 h-100", {"active": i === 0}]}>
                                    <img class="lozad d-block h-100 object-fit-cover position-relative z-1 resp-img"
                                        data-src={slImg.src} alt="CoVacations Group" width="1920" height="1080"
                                        sizes="(max-width: 576px) 100vw, 50vw" loading="lazy"/>
                                </div>
                            )
                        })
                    :   <div class="carousel-item position-relative w-100 h-100 active">
                            { bgImg
                                ? <img class="lozad d-block h-100 object-fit-cover position-relative z-1 resp-img"
                                data-src={bgImg} alt="CoVacations Group" width="1920" height="1080" sizes="(max-width: 576px) 100vw, 50vw" loading="lazy"/>
                                : <img class="lozad d-block h-100 object-fit-cover position-relative z-1 resp-img"
                                data-src={HeroHomeImg1.src} alt="CoVacations Group" width="1920" height="1080" sizes="(max-width: 576px) 100vw, 50vw" loading="lazy"/> }
                        </div> 
            }
		</div>
	</div>
    <!-- Bg Fallback -->
    <div id="bgFallback" class="bg-fallback w-100 h-100 position-absolute top-0 z-1"></div>
	<!-- Content -->
	<div class="container d-flex align-items-center z-2 position-relative">
        <!-- Text -->
		<div class="hero-content flex-fill text-white px-2">
            <!-- Text content -->
            <slot/>
			<!-- Modal trigger -->
            { hasModal && <ModalBtn/> }
            <!-- Caption -->
            { hasCaption && <Caption/> }
		</div>
        <!-- Scroller -->
        { hasScroller && <Scroller/> }
	</div>
    <!-- Modal -->
    { hasModal && <Modal/> }
</section>

<style>
	.hero {
		height: 75vh;
	}
	.hero.full-height {
		height: 100vh;
	}
	.hero .bg-opacity {
		background-color: #00000066;
	}
    .hero .bg-color-gradient {
        /* backdrop-filter: blur(1.5px); */
        /* background: linear-gradient(320deg, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 40%) 100%); */
        /* background: linear-gradient(0deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 50%) 100%); */
        background: linear-gradient(318deg, #00000000, #000000e0);
    }
    .hero .hero-content .hero-text {
        max-width: 30rem;
    }
    .hero .carousel-inner-fallback {
        background-image: linear-gradient(to right bottom, #052d37, #00515b, #007777, #00a087, #00c88b);
    }
    .hero #bgFallback {
        opacity: 1;
        transition: all .8s ease .3s;
        background-image: linear-gradient(to right bottom, #052d37, #00515b, #007777, #00a087, #00c88b);
    }
    .hero .hero-slider.carousel .carousel-inner .carousel-item img.resp-img {
        opacity: 0;
        width: 100%;
        aspect-ratio: unset;
        transition: all .8s ease .3s;
    }
    @media screen and (max-width: 575px) {
        .hero .hero-slider.carousel .carousel-inner .carousel-item img.resp-img {
            width: fit-content;
            aspect-ratio: 4 / 3;
        }
    }
</style>

<script is:inline>
    document.addEventListener('astro:page-load', () => {
        const myCarouselElement = document.querySelector("#myCarousel");
        new bootstrap.Carousel(myCarouselElement, {
            interval: 5000,
            touch: false
        });
        
        const respImg = document.querySelector(".hero>.hero-slider.carousel>.carousel-inner>.carousel-item>img.resp-img");
        const bgFallback = document.getElementById("bgFallback");
        setTimeout(() => {
            bgFallback.style.opacity = 0;
            respImg.style.opacity = 1;
            bgFallback.classList.remove("z-1")
            bgFallback.classList.add("z-n1")
        }, 900);
    }); 
  </script>